@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

:root {
  --bg:white;
  --text:black;
  --hover: #0073ec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:rgb(31 31 31);
    --text:white;
  }
}
body {
  max-width: 8.3in;
  margin: auto;
  background-color: var(--bg);
  color: var(--text);
  font-size: 1.05rem;
  font-family: monospace;
  word-wrap: break-word;
}
body header {
  padding: 20px;
  font-size: 1.1rem;
}
body header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
body header nav ul a {
  text-decoration: none;
}
body main {
  padding: 20px;
}
body main > ul {
  margin-top: 0;
  margin-bottom: 30px;
}
body main ul {
  padding-inline-start: 15px;
}
body main ol {
  padding-inline-start: 30px;
}
body main details {
  padding: 20px 0;
}
body main details ul li ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
body a {
  color: var(--text);
  text-underline-position: under;
  text-decoration-thickness: 1px;
}
body a:hover {
  color: var(--hover);
}
body summary {
  cursor: pointer;
}

/* common class */
.post-list {
  margin-top: 10px;
  padding-inline-start: 10px;
}
.post-list li {
  margin-top: 10px;
  display: block;
}
.post-list li > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.footnotes ol {
  padding-inline-start: 30px;
}

.gist {
  padding: 20px 0px;
}

.katex {
  font-size: 1.1rem !important;
}

/* print */
@media print {
  main article {
    font-size: 1rem;
  }
}
article header {
  padding: 0;
}
article header h1 {
  padding-top: 0;
  display: block;
}
article aside details ul {
  margin-top: 0;
  padding-inline-start: 30px;
}
article p img {
  display: block;
  width: 100%;
  margin: auto;
  background: rgba(255, 0, 0, 0.15);
  min-height: 150px;
}

h2 {
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 30px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: var(--text);
  text-decoration: underline;
}

hr, ul, ol, dl, blockquote, p, table, pre {
  margin-top: 30px;
}

blockquote {
  position: relative;
  margin: 40px 0;
  padding-left: 26px;
  line-height: 1.7;
}

blockquote::before {
  content: "“";
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 2em;
  transform: translateY(-50%);
}

img + em {
  display: block;
  margin-top: 5px;
  text-align: center;
}

pre.highlight {
  overflow: auto;
  margin: 30px 0;
  padding: 15px;
  background: rgba(147, 147, 147, 0.1882352941);
}

.footnotes p {
  margin: 0;
  padding: 0;
}

code {
  font-family: "DM Serif Display", serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td, th {
  border: 1px solid #ddd;
  padding: 5px;
}

.my-photo {
  float: right;
  object-fit: cover;
  margin: 0 0 10px 30px;
}

@media screen and (max-width: 768px) {
  .my-photo {
    float: none !important;
    margin: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */